openapi: 3.2.0
info:
  title: Veritus Clients API
  description: API for the Veritus Agent Platform
  license:
    name: MIT
  version: 1.0.0
servers:
- url: https://sandbox.veritus.com/api/v1
security:
- bearerAuth: []
tags:
- name: Clients
paths:
  /clients:
    get:
      description: Retrieve all clients associated with your organization. Clients are sub-entities used to group customers.
      responses:
        '200':
          description: List of clients
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientListResponse'
              example:
                requestId: 96b887fb-9371-4515-b51e-28434f58dd7e
                success: true
                data:
                - id: 550e8400-e29b-41d4-a716-446655440000
                  name: Acme Corp
                - id: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
                  name: Globex Inc
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                requestId: 96b887fb-9371-4515-b51e-28434f58dd7e
                publicFacingMessage: Unauthorized. Make sure to pass the correct authorization token.
                success: false
      tags:
      - Clients
components:
  schemas:
    Client:
      required:
      - id
      - name
      type: object
      properties:
        id:
          description: The unique identifier of the client.
          type: string
          format: uuid
        name:
          description: The display name of the client.
          type: string
    ClientListResponse:
      required:
      - success
      - requestId
      - data
      type: object
      properties:
        requestId:
          description: The request identifier.
          type: string
          format: uuid
        success:
          description: Whether the request was successful.
          type: boolean
        data:
          description: Array of clients belonging to the organization.
          type: array
          items:
            $ref: '#/components/schemas/Client'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
